
<style>
  .container {
    display: flex; 
  }

  .listagem {
    flex: 1; 
  }

  .form-container {
    display: flex; 
    flex-direction: column; 
    justify font-family: Verdana, sans-serif;
    width: 50%; 
    margin-left: 20px; 
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
  }

  .form-group {
    margin-bottom: 10px; 
  }

    .form-group label {
      display: block; 
      margin-bottom: 5px; 
    }

    .form-group input,
    .form-group select {
      width: 100%; 
      padding: 5px; 
      box-sizing: border-box; 
    }

  .listagem {
    border-radius: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ccc; 
    padding: 10px; 
  }
</style>


<div class="container">
 
    <div class="form-container">
      Envio de tarefas para api:
      <form [formGroup]="formulario" style="margin-top: 100px">
        <div class="form-group">
          <label for="descricao" style="margin-right: 10px">Descrição:</label>
          <input type="text" id="descricao" formControlName="descricao">
        </div>
        <div class="form-group">
          <label for="data">Data:</label>
          <input type="date" id="data" formControlName="data">
        </div>
        <div class="form-group">
          <label for="status">Status:</label>
          <input type="text" id="status" formControlName="status">
        </div>

        <button type="button" (click)="Salvar()">Salvar</button>
      </form>
    
  </div>


    <div class="listagem">
      <button type="button" (click)="BuscaTarefas()">Recarregar Lista</button>
      <table>

        <thead>
          <tr>
            <th>Descrição</th>
            <th>Data</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let tarefa of tarefas">
            <td>{{ tarefa.descricao }}</td>
            <td>{{ tarefa.data }}</td>
            <td>{{ tarefa.status }}</td>
          </tr>
        </tbody>
      </table>
    </div>
</div>
  <router-outlet></router-outlet>
